{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="readerApp">
<head>
  <meta charset="utf-8">
  <title>cobble</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/angular-hotkeys/build/hotkeys.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/reader.css' %}">
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
  <script src="{% static 'vendor/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script src="{% static 'vendor/angular-touch/angular-touch.min.js' %}"></script>
  <script src="{% static 'vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js' %}"></script>
  <script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'vendor/angular-moment/angular-moment.min.js' %}"></script>
  <script src="{% static 'vendor/angular-hotkeys/build/hotkeys.min.js' %}"></script>
  <script src="{% static 'vendor/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
  <script src="{% static 'js/reader.js' %}"></script>
</head>
<body ng-controller="readerController">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">cobble</a>
      </div>

      <div class="collapse navbar-collapse">
        {% if user.is_active and user.is_superuser %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          <li>
          {% verbatim %}
          <div class="btn-group navbar-btn" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle mode-dropdown" ng-disabled="disabled">
              <span class="mode-dropdown-text">{{mode}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="mode in modes"><a ng-click="setMode(mode)">{{mode}}</a></li>
            </ul>
          </div>
          {% endverbatim %}
          </li>
          <li class="logout-button">
            <div class="btn-group navbar-btn" dropdown>
              <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container">
    <div infinite-scroll="poll()" infinite-scroll-disabled="loading" infinite-scroll-distance="1">
      {% verbatim %}
      <div
        class="row entry-close"
        ng-repeat-start="entry in entries"
        ng-show="selected != $index || !open"
        ng-class="{'entry-selected': $index === selected, 'entry-read': entry.read}"
        ng-click="openOrClose($index)"
        reader-scroll-to="selected == $index && !open">
        <div class="col-md-2 entry-close-feed">
          <a ng-href="{{entry.feed.link}}" target="_blank">{{entry.feed.name}}</a>
        </div>
        <div class="col-md-8 entry-close-title">
          <a ng-href="{{entry.link}}" target="_blank">{{entry.title}}</a>
        </div>
        <div class="col-md-2 text-right entry-close-time" am-time-ago="entry.time"></div>
      </div>
      <div
        class="row entry-open"
        ng-repeat-end
        ng-show="selected == $index && open"
        ng-click="openOrClose($index)"
        reader-scroll-to="selected == $index && open">
        <div class="col-md-10 col-md-offset-1 entry-open-container"
          ng-click="$event.stopPropagation()">
          <div class="row">
            <div class="col-md-12 entry-open-title">
              <a ng-href="{{entry.link}}" target="_blank"><h3>{{entry.title}}</h3></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <small class="entry-open-feed"><a ng-href="{{entry.feed.link}}">{{entry.feed.name}}</a></small>
              <small class="entry-open-time pull-right">{{entry.time | amDateFormat:"DD-MM-YYYY hh:mm:ss"}}</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 entry-open-content" ng-bind-html="entry.content"></div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <a class="btn btn-primary btn-block" role="button" ng-href="{{entry.link}}">Open</a>
            </div>
          </div>
          <div class="row entry-open-footer">
            <div class="col-md-12">
              <a href="#" ng-if="!entry.read" ng-click="setRead(entry, true)">Mark as Read</a>
              <a href="#" ng-if="entry.read" ng-click="setRead(entry, false)">Mark as Unread</a>
            </div>
          </div>
        </div>
      </div>
      {% endverbatim %}
      <div class="row" ng-show="loading && !done">
        <div class="col-md-12 alert alert-info message">Loading...</div>
      </div>
      <div class="row" ng-show="done">
        <div class="col-md-12 alert alert-info message">All entries are shown</div>
      </div>
    </div>
  </div>
</body>
</html>
